.landingPage{
    color: black;
    background-color: white;
    height: 100vh;
    z-index: -999;
    font-family: Arial, Helvetica, sans-serif;
}

.landingWrapper{
    padding-left: 3%;
    padding-right: 3%;
}

